<template name="pickdate">
    <div id="step-2">
        <h2 class="StepTitle">Picking dates</h2>

        <form class="form-horizontal form-label-left">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                       for="first-name">Date <span class="required">*</span>
                </label>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="datepicker" style="width:80%" class="form-control col-md-7 col-xs-12"
                           data-provide="datepicker" name="location"
                           value="">
                </div>
            </div>
        </form>

        <p> Problem with date-picker. Will have to fix this.</p>
    </div>
</template>