td:first-child {
    width: 5%;
}
.big-box{
    cursor: pointer;
    text-align: center;
}
.small-top-left{
    display: inline-block;
    text-align: center;

}
.small-top-right{
    display: inline-block;
    text-align: center;
}
.small-hidden-bottom{
    text-align: center;
}