<template name="timeslotsInformation">
    <div class="x-content">
        <h5>Pick the date and time when the meeting should be finalized.</h5>
        <input type="hidden" name="{{_id}}" id="meetingIdElement">

        <div class="input-group datetimepicker">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input class="set-due-date form-control" type="text"/>
        </div>
        <h5>Pick a few time slots for your meeting.</h5>
        {{#each date}}
            <input type="hidden" name="{{this}}" id="dateElement">
            <table class="ui celled collapsing table timeslotsTable" align="center">
                <thead>
                <tr>
                    <th colspan="13" style="text-align: center">{{prettifyDate this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="am">
                    <td width="5%"><b>AM</b></td>
                    <td><input type="checkbox" value="{{this}}" class="1"/><label> 12 - 1</label></td>
                    <td><input type="checkbox" value="{{this}}" class="2"/><label> 1 - 2</label></td>
                    <td><input type="checkbox" value="{{this}}" class="3"/><label> 2 - 3</label></td>
                    <td><input type="checkbox" value="{{this}}" class="4"/><label> 3 - 4</label></td>
                    <td><input type="checkbox" value="{{this}}" class="5"/><label> 4 - 5</label></td>
                    <td><input type="checkbox" value="{{this}}" class="6"/><label> 5 - 6</label></td>
                    <td><input type="checkbox" value="{{this}}" class="7"/><label> 6 - 7</label></td>
                    <td><input type="checkbox" value="{{this}}" class="8"/><label> 7 - 8</label></td>
                    <td><input type="checkbox" value="{{this}}" class="9"/><label> 8 - 9</label></td>
                    <td><input type="checkbox" value="{{this}}" class="10"/><label> 9 - 10</label></td>
                    <td><input type="checkbox" value="{{this}}" class="11"/><label> 10 - 11</label></td>
                    <td><input type="checkbox" value="{{this}}" class="12"/><label> 11 - 12</label></td>
                </tr>
                <tr class="pm">
                    <td width="5%"><b>PM</b></td>
                    <td><input type="checkbox" value="{{this}}" class="13"/><label> 12 - 1</label></td>
                    <td><input type="checkbox" value="{{this}}" class="14"/><label> 1 - 2</label></td>
                    <td><input type="checkbox" value="{{this}}" class="15"/><label> 2 - 3</label></td>
                    <td><input type="checkbox" value="{{this}}" class="16"/><label> 3 - 4</label></td>
                    <td><input type="checkbox" value="{{this}}" class="17"/><label> 4 - 5</label></td>
                    <td><input type="checkbox" value="{{this}}" class="18"/><label> 5 - 6</label></td>
                    <td><input type="checkbox" value="{{this}}" class="19"/><label> 6 - 7</label></td>
                    <td><input type="checkbox" value="{{this}}" class="20"/><label> 7 - 8</label></td>
                    <td><input type="checkbox" value="{{this}}" class="21"/><label> 8 - 9</label></td>
                    <td><input type="checkbox" value="{{this}}" class="22"/><label> 9 - 10</label></td>
                    <td><input type="checkbox" value="{{this}}" class="23"/><label> 10 - 11</label></td>
                    <td><input type="checkbox" value="{{this}}" class="24"/><label> 11 - 12</label></td>
                </tr>
                </tbody>
            </table>
            {{#if currentUser.services.google}}
                <script type="text/javascript">
                    var CLIENT_ID = '379128109747-tfrqdiuvmaeq7m46ojahtfcdgavkv0e3.apps.googleusercontent.com';
                    var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

                    /**
                     * Check if current user has authorized this application.
                     */
                    function checkAuth() {
                        gapi.auth.authorize(
                                {
                                    'client_id': CLIENT_ID,
                                    'scope': SCOPES.join(' '),
                                    'immediate': true
                                }, handleAuthResult);
                    }

                    /**
                     * Handle response from authorization server.
                     *
                     * @param {Object} authResult Authorization result.
                     */
                    function handleAuthResult(authResult) {
                        var authorizeDiv = document.getElementById('authorize-div');
                        if (authResult && !authResult.error) {
                            // Hide auth UI, then load client library.
                            authorizeDiv.style.display = 'none';
                            loadCalendarApi();
                        } else {
                            // Show auth UI, allowing the user to initiate authorization by
                            // clicking authorize button.
                            authorizeDiv.style.display = 'inline';
                        }
                    }

                    /**
                     * Initiate auth flow in response to user clicking authorize button.
                     *
                     * @param {Event} event Button click event.
                     */
                    function handleAuthClick(event) {
                        gapi.auth.authorize(
                                {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
                                handleAuthResult);
                        return false;
                    }

                    /**
                     * Load Google Calendar client library. List upcoming events
                     * once client library is loaded.
                     */
                    function loadCalendarApi() {
                        gapi.client.load('calendar', 'v3', listUpcomingEvents);
                    }

                    /**
                     * Print the summary and start datetime/date of the day's events in
                     * the authorized user's calendar. If no events are found an
                     * appropriate message is printed.
                     */
                    function listUpcomingEvents() {
                        var date1 = new Date(document.getElementById('dateElement').name);
                        //fix the date retrieved
                        date1.setDate(date1.getDate() + 1);
                        date1.setHours(0);
                        //done fixing
                        var date2 = new Date(date1);
                        //setting next date
                        date2.setDate(date1.getDate() + 1);
                        date1 = moment(date1);
                        date2 = moment(date2);
                        var request = gapi.client.calendar.events.list({
                            'calendarId': Meteor.user().services.google.email,
                            'timeMin': date1.format(),
                            'timeMax': date2.format(),
                            'singleEvents': true,
                            'orderBy': 'startTime'
                        });

                        request.execute(function (resp) {
                            var events = resp.items;
                            appendPre('Your Google Calendar events for the day:');

                            if (events.length > 0) {
                                for (i = 0; i < events.length; i++) {
                                    var event = events[i];
                                    var when = event.start.dateTime;
                                    var eventTime = new Date(event.start.dateTime);
                                    //failsafe for when time is missing
                                    if (!when) {
                                        when = event.start.date;
                                    } else {
                                        var eventDateTime = new Date(event.start.dateTime);
                                        var eventEndDateTime = new Date(event.end.dateTime);
                                        when = eventDateTime.toLocaleTimeString() + " to " + eventEndDateTime.toLocaleTimeString();
                                        //conforming to our table class rules
                                        var startSlot = eventDateTime.getHours() + 1;
                                        var endSlot = eventEndDateTime.getHours() + 1;
                                        //looping over all slots which are busy
                                        for (var k = startSlot; k < endSlot; k++) {
                                            //finding timeslot checkbox element
                                            var pre = document.getElementsByClassName(String(k));
                                            for (var j = 0; j < pre.length; j++) {
                                                //coloring all busy timeslots red
                                                pre[j].parentNode.style.backgroundColor = '#FF3333';
                                            }
                                        }
                                    }
                                    appendPre(i + 1 + ". " + event.summary + ' (' + when + ')')
                                }
                            } else {
                                appendPre('No upcoming events found for the day.');
                            }

                        });
                    }

                    /**
                     * Append a pre element to the body containing the given message
                     * as its text node.
                     *
                     * @param {string} message Text to be placed in pre element.
                     */
                    function appendPre(message) {
                        var pre = document.getElementById('output');
                        var textContent = document.createTextNode(message + '\n');
                        pre.appendChild(textContent);
                    }

                </script>
                <script src="https://apis.google.com/js/client.js?onload=checkAuth">
                </script>
                <div id="out">

                    <div id="authorize-div">
                        <span>Authorize access to Google Calendar API</span>
                        <!--Button for the user to click to initiate auth sequence -->
                        <button id="authorize-button">
                            Authorize
                        </button>
                    </div>
                    <pre id="output"></pre>
                </div>
            {{/if}}
        {{/each}}
        <div class="ui negative message" hidden="true" id="errorMessageTimeslots">
            <i class="close icon" id="closeError"></i>

            <div class="header">
                Please check atleast one time slot.
            </div>
        </div>
        <div class="ui negative message" hidden="true" id="errorMessageExpiryDate">
            <i class="close icon" id="closeError"></i>

            <div class="header">
                Please pick date to finalize meeting.
            </div>
        </div>
        <input type="button" value="Submit" id="timeSlotsSubmit">
    </div>
</template>