<template name="timeslotsInformation">
    <div class="x-content">
        <h4>Please pick the timeslots for your meeting.</h4>
        <input type="hidden" name="{{_id}}">
        {{#each date}}
            <table class="ui celled collapsing table timeslotsTable" align="center">
                <thead>
                <tr>
                    <th colspan="13" style="text-align: center">{{prettifyDate this}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="am">
                    <td width="5%"><b>AM</b></td>
                    <!--<td><input type="checkbox" value="AM" class="all"/><label>All</label></td>-->
                    <td><input type="checkbox" value="{{this}}" class="1"/><label>12-1</label></td>
                    <td><input type="checkbox" value="{{this}}" class="2"/><label>1-2</label></td>
                    <td><input type="checkbox" value="{{this}}" class="3"/><label>2-3</label></td>
                    <td><input type="checkbox" value="{{this}}" class="4"/><label>3-4</label></td>
                    <td><input type="checkbox" value="{{this}}" class="5"/><label>4-5</label></td>
                    <td><input type="checkbox" value="{{this}}" class="6"/><label>5-6</label></td>
                    <td><input type="checkbox" value="{{this}}" class="7"/><label>6-7</label></td>
                    <td><input type="checkbox" value="{{this}}" class="8"/><label>7-8</label></td>
                    <td><input type="checkbox" value="{{this}}" class="9"/><label>8-9</label></td>
                    <td><input type="checkbox" value="{{this}}" class="10"/><label>9-10</label></td>
                    <td><input type="checkbox" value="{{this}}" class="11"/><label>10-11</label></td>
                    <td><input type="checkbox" value="{{this}}" class="12"/><label>11-12</label></td>
                </tr>
                <tr class="pm">
                    <td width="5%"><b>PM</b></td>
                    <!--<td><input type="checkbox" value="PM" class="all"/><label>All</label></td>-->
                    <td><input type="checkbox" value="{{this}}" class="13"/><label>12-1</label></td>
                    <td><input type="checkbox" value="{{this}}" class="14"/><label>1-2</label></td>
                    <td><input type="checkbox" value="{{this}}" class="15"/><label>2-3</label></td>
                    <td><input type="checkbox" value="{{this}}" class="16"/><label>3-4</label></td>
                    <td><input type="checkbox" value="{{this}}" class="17"/><label>4-5</label></td>
                    <td><input type="checkbox" value="{{this}}" class="18"/><label>5-6</label></td>
                    <td><input type="checkbox" value="{{this}}" class="19"/><label>6-7</label></td>
                    <td><input type="checkbox" value="{{this}}" class="20"/><label>7-8</label></td>
                    <td><input type="checkbox" value="{{this}}" class="21"/><label>8-9</label></td>
                    <td><input type="checkbox" value="{{this}}" class="22"/><label>9-10</label></td>
                    <td><input type="checkbox" value="{{this}}" class="23"/><label>10-11</label></td>
                    <td><input type="checkbox" value="{{this}}" class="24"/><label>11-12</label></td>
                </tr>
                </tbody>
            </table>
        {{/each}}
        <div class="ui negative message" hidden="true" id="errorMessageTimeslots">
            <i class="close icon" id="closeError"></i>
            <div class="header">
                Please check atleast one time slot.
            </div>
            </div>
        <input type="button" value="Submit" id="timeSlotsSubmit">
    </div>
</template>