<template name="frontpage">
    <head>
        <title>MeetMe</title>
    </head>

    <body class="index">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '769609646397592',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <nav id="nav">
                <ul>
                    <li><a href="#" class="button special">
                        {{> loginButtons}}
                        {{#if currentUser}}
                            <!--<form class="new-task">
                                <input type="text" name="text" placeholder="Type to add new tasks"/>
                            </form>-->
                        {{/if}}</a></li>
                    <li class="current"><a href="/profile">Create a meeting</a></li>

                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner" style="height:650px">
            <div class="inner"  style="height: 300px; width: 600px">

                <header>
                    <h2>MEETME</h2>
                </header>
                <p>This is <strong>MeetMe</strong>, a collaborative
                    <br />
                    meeting planner
                    <br />
                    by <a href="https://github.com/ser515asu/MeetMe-Segfault">SEGFAULT</a>.</p>
                    <ul class="buttons vertical">
                        <li><a href="/profile" class="button fit scrolly">Create a meeting now!</a></li>
                    </ul>
            </div>

        </section>

        <!--<footer id="footer">

            <ul class="icons">
                <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
                <li><a href="https://github.com/ser515asu/MeetMe-Segfault" class="icon circle fa-github"><span class="label">Github</span></a></li>
            </ul>

            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </footer>-->
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>

    <script src="assets/js/main.js"></script>

    </body>


</template>
