<!--
<template name="meetinglayout">
    <div class="main1 container">
        <h1>Schedule a meeting</h1>

        {{> yield}}
    </div>
</template>-->

<template name="newMeeting">
    <div class="x_title">

        <h2>Schedule a meeting

        </h2>
        <ul class="nav navbar-right panel_toolbox">

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x-content">
    {{> afWizard id="newMeetingWizard" collection="Meeting" route="newMeeting" stepsTemplate="steps" buttonClasses="ui submit button" clearOnDestroy=true}}
    </div>
</template>

<template name="titleInformation">
    {{> quickForm id=step.formId doc=step.data schema=Schemas.Meeting fields="title" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

</template>
<template name="descInformation">
    {{> quickForm id=step.formId doc=step.data schema=Schemas.Meeting fields="description" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

</template>
<template name="dateInformation">
    {{> quickForm id=step.formId doc=step.data schema=Schemas.Meeting  fields="date" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
</template>

<template name="participantInformation">
    {{> quickForm id=step.formId doc=step.data schema=step.schema schema=Schemas.Meeting fields="participants,participants.$.email" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}

</template>

<template name="viewMeeting">
    <p>Your meeting has been scheduled {{title}}.</p>

    <a href="/" class="ui button">Schedule another</a>

    <a href="{{pathFor route='editMeeting' id=name}}" class="ui button">Edit meeting</a>
</template>

<template name="editMeeting">
    <p>Editing your meeting titled: {{title}}.</p>

    {{> afWizard id="editMeetingWizard" collection="Meeting" doc=this route="editMeeting" stepsTemplate="steps" buttonClasses="ui submit button" clearOnDestroy=true persist=false}}
</template>

<template name="steps">
    <div class="ui four steps">
        {{#each wizard.steps}}
            <div class="{{stepClass id}} step">
                {{#if icon}}<i class="info icon"></i>{{/if}}
                <div class="content">
                    {{#if wizard.route}}
                        <a href="{{pathForStep id}}" class="title">{{title}}</a>
                    {{else}}
                        <div class="title">{{title}}</div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</template>
