<template name="addparticipants">
    <div id="step-3">
        <h2 class="StepTitle">Add participants</h2>
        {{> quickForm id="dateForm" schema=Schemas.Meeting fields="participants,participants.$.email" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        <!--<form class="form-horizontal form-label-left">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                   for="first-name">Participants <span class="required">*</span>
            </label>

            <div class="col-md-6 col-sm-6 col-xs-12">
                {{>insertaf}}
                &lt;!&ndash;<div class="container">
                    <div class="row">
                        <div class="control-group" id="fields">
                            <div class="mycontrols">
                                <form role="form" autocomplete="off">
                                    <div class="entry input-group col-xs-12">
                                        <input class="form-control" name="fields[]" type="text" placeholder="Email Addresses" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" id="add_button" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>&ndash;&gt;
            </div>
        </div>
    </form>-->
    </div>
</template>