    <template name="insertaf">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#autoForm id="afInsertDemo" type="insert" collection=Collections.People}}
                        <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
                            <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
                            {{> afFieldInput name='firstName'}}
                            {{#if afFieldIsInvalid name='firstName'}}
                                <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Person</button>
                            <button type="reset" class="btn btn-default">Clear</button>
                        </div>

                    {{/autoForm}}
                </div>
            </div>

            <h2>Participant List</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <td>Email</td>
                    <td style="width: 70px"></td>
                </tr>
                </thead>
                <tbody>
                {{#each people}}
                    <tr>
                        <td>{{firstName}}</td>
                        <td style="width: 70px">{{> quickRemoveButton collection=Collections.People _id=this._id class="btn btn-sm btn-danger"}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>